<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/cards.css">
    <title>AnimeSphere</title>
</head>
<body>
     <%- include("./partials/header.ejs") %>
     <%- include("./partials/cards.ejs") %>
     <script src="/scripts/main.js"></script>
</body>
</html>