.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: pointer;
    flex: 1 1 200px;
    max-width: 200px;
    overflow: hidden;
}

.card > a {
    text-decoration: none;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
    text-shadow: 2px 2px 2px #ff4500;
    display: flex;
}

.card h4 {
    color: #ff4500;
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 100%;
        max-width: 90%;
    }
}